@import 'apps/vdom/scss/variables';

.nodechat {
    width: 100%;
    background: $color-grey-light !important;
    border-top: 1px solid $color-grey-dark;

    .messages {
        &:after {
            display:table;
            clear: both;
        }
        padding: 5px;
        height: 150px;
        width: 100%;
        overflow-y: scroll;
        border: 1px solid $color-grey-light;

        .message {
            position: relative;
            padding: 0 0 0 10em;
            margin: 0 0 0.5em 0;

            .from {
                position: absolute;
                left: 0;
                top: 0;
                width: 10em;
                background-color: $color-grey-dark;
                padding: 0.5em;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .body {
                position: relative;
                width: 100%;
                border-top: 1px solid #eee;
                padding: 0.5em 0.5em 0.5em 1em;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                color: $color-grey-dark;
            }
        }
    }

    input {
        width: 100%;
    }
}
