@import 'apps/vdom/scss/variables';

dialog.dialog-crowd-list {
    opacity: 0.9;
}


#explorer {
    width: 100%;
    opacity: 0.5;
    height: 400px;
    border: 1px solid $primary-color-light;
    background: rgb(240, 240, 240);

    circle {
        stroke-width: 1;
        r: 10;

        &:hover {
            cursor: pointer;
            r: 12;
        }
        &.peer {
            r: 14;
        }

        &.selected {
            fill: $accent-color !important;
        }


        &.browser {
            stroke: $primary-color-dark;
            fill: #fff;

        }
        &.headless {
            stroke: black;
            fill: $primary-color-light;
        }
    }

    path {
        stroke-width: 1px;
        fill: None;

        &.WebsocketTransport {
            stroke: $accent-color !important;
        }

        &.MemoryTransport {
            stroke: $secondary-text-color !important;
        }

        &.indirect {
            stroke-dasharray: 2,2;
        }
    }
}
