<div class="list users">
    <user-nodes nodes={{nodes}} />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            <user-entry />
            <user-editor />
            {{else}}
            <tr>
                <td class='no-users' colspan='2'>There are no users yet...</td>
            </tr>
            {{/users}}
        </tbody>
    </table>
</div>
