{{#if button}}
<span class="icon-stack icon-large{{#unless perm_blog_create }} disabled{{/unless}}">
    <i class="icon icon-circle icon-stack-2x" on-click="openEditor"></i>
    <i class="editor-button btn icon icon-pencil icon-stack-1x icon-inverse" on-click="openEditor"></i>
</span>
{{/if}}

<dialog id="edit-post-dialog{{#if id}}-{{id}}{{/if}}" class="edit-post-dialog">
    <header>
        <span class="title">{{#if id}}Edit{{else}}New{{/if}} post</span>
        <div class="header-options">
            <span class="btn icon icon-close icon-large icon-inverse js-dialog-close"></span>
        </div>
    </header>
    <form>
        <section class="edit-post">
            <fieldset>
                <label for="title">Title</label>
                <input type="text" name="title" value="{{unbind(title)}}" placeholder="The article title..." required>
                <label for="title">Content</label>
                <textarea name="content" value="{{unbind(content)}}" placeholder="Blog article content..." required></textarea>
            </fieldset>
        </section>
        <footer>
            <button class='btn' on-click="saveArticle">Store</button>
            <button class="button button-outline js-dialog-close">Cancel</button>
        </footer>
    </form>
</dialog>
