{{#if button && perm_blog_create }}
<span class="icon-stack icon-large">
    <i class="icon icon-circle icon-stack-2x" on-click="openEditor"></i>
    <i class="editor-button btn icon icon-pencil icon-stack-1x icon-inverse" on-click="openEditor"></i>
</span>
{{/if}}

<dialog class="edit-post-dialog" id="edit-post-dialog{{#if id}}-{{id}}{{/if}}">
    <header>
        <span class="title">{{#if id}}Edit{{else}}New{{/if}} post</span>
        <div class="header-options">
            <span class="btn icon icon-close icon-large icon-inverse" on-click="closeEditor"></span>
        </div>
    </header>
    <form>
        <section class="edit-post">
            <input type="text" name="title" value="{{unbind(title)}}" placeholder="The article title..." required>
            <textarea name="content" value="{{unbind(content)}}" placeholder="Blog article content..." required></textarea>
        </section>
        <footer>
            <button class='btn' on-click="saveArticle">Save article</button>
        </footer>
    </form>
</dialog>
