<section class="container post" id='{{id}}'>
    <header>
    <div class="title">{{ title }}</div>
    <span class='options float-right'>
        {{#if isAuthor(this) }}
            {{#if perm_blog_update }}
            <span class='close btn icon icon-wrench icon-medium' on-click='openEditPostModal'></span>
            {{/if}}
            {{#if perm_blog_delete }}
            <span class='close btn icon icon-trash-o icon-medium' on-click='openDeletePostModal'></span>
            {{/if}}
        {{/if}}
    </span>
    </header>
    <div class='author'>By: {{ user.username }} - {{ user.id.sid() }}</div>
    <span class='modified'>{{formatTime(modified)}}</span>

    <p>{{{ parseMarkdown(content) }}}</p>
    <dialog id="delete-dialog-{{id}}">
        <header>
            <span class="title">Delete post</span>
            <div class="header-options">
                <span class="btn icon icon-close icon-large icon-inverse js-dialog-close"></span>
            </div>
        </header>
        <section>
            Warning! You are about to delete this post.
            Are you sure?
        </section>
        <footer class='footer-options'>
            <button class='button' on-click='deleteBlogPost'>Delete</button>
            <button class='button button-outline' on-click='closeDeletePostModal'>Cancel</button>
        </footer>
    </dialog>
</section>
