@import 'apps/vdom/scss/variables';

.container.post {
    padding: 2rem 0 2rem 0;
}

.post {
    header {

        > .title {
            display: inline-block;
            font-family: $font-accent-family;
            font-weight: $font-accent-weight;
            font-weight: bold;
            line-height: 45px;
            font-size: 2.5rem;
            margin: 0;
        }

        .options {
            font-size: 20px;
            line-height: 45px;
        }
    }

    .author {
        font-style: bold;
    }

    .modified {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .content {
        padding-top: 1rem;
    }
}

.edit-post {
    padding: 10px;

    textarea {
        width: 100%;
        height: 150px;
        margin: 10px 0;
        padding: 10px;
    }
}
