dialog {
    width: 100%;
    max-width: 100%;
    top: 55px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    position: fixed;
    padding: 0;

    header {
        background: $primary-color-dark;
        width: 100%;
        height: 40px;
        padding: 0.5em;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        .title {
            font-weight: bold;
            color: $primary-color-light;
        }

        .header-options {
            float: right;
        }
    }

    section {

    }

    footer {
        background: $divider-color;
        border-top: $primary-color;

        button {
            margin: 1rem;
        }
    }

    &::backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    // Larger than mobile screen.
    @media (min-width: 40rem) {
        max-width: 80%;
        top: 10%;
    }

    // Larger than tablet screen.
    @media (min-width: 80rem) {
        max-width: 60%;
        top: 10%;
    }

    // Larger than desktop screen.
    @media (min-width: 120rem) {
        max-width: 50%;
        top: 10%;
    }

}
