@import "apps/vdom/scss/variables";

.navigation {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 100vw;
    z-index: 99;
    background: $primary-color-dark;
    border-top: 2px solid $primary-color;
    border-bottom: 1px solid $accent-color;
    width: 100%;
    color: $primary-color-text;
    font-size: 1.3rem;
    font-family: $font-accent-family;
    font-weight: $font-accent-weight;
    overflow: auto;

    .navigation-title {
        height: 40px;

        .logo {
            color: $primary-color-text;
            height: 50px;
            margin-top: 2px;
        }
    }

    .navigation-item {
        float: left;
        margin-bottom: 0;
        margin-left: 4rem;
        position: relative;
        line-height: 5.6rem;
        vertical-align: middle;

        &.active {
            i {
                transition: color 0.3s ease;
                color: $accent-color;
            }
        }

        // A disabled menu item.
        &.disabled {
            cursor: default;
            i, span {
                color: lighten($primary-color-dark, 10%);
            }
        }

        i {
            font-size: 2.5rem;
            pointer-events: none;
            position: relative;
            top: 4px;
            left: -0.5rem;
        }

        span {
            font-size: 1.5rem;
            color: $primary-color-light;
            pointer-events: none;
        }



    }

    // Re-overiding the width 100% declaration to match size of% based container.
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navigation-list {
        list-style: none;
        margin-bottom: 0;
    }
}

@media (min-width: 80rem) {
    .navigation-list {
        margin-right: 0;
    }
}
