@import "mixins";

$font-accent-family: "Lato Medium";
$font-accent-weight: 400;

$color-base: #2fc8e8;
$color-accent: complement($color-base);
$color-white: #fff;
$color-grey-dark: #3a4a4d;
$color-grey-light: #f9fbfb;

// Milligram variables.
$color-initial: $color-white;
$color-primary: $color-base;
$color-secondary: $color-grey-dark;
$color-tertiary: $color-grey-light;
$color-quaternary: $color-accent;
