{{#if button}}
<span class="editor-button btn icon icon-write icon-button" on-click="openEditor"></span>
{{/if}}
<dialog id="edit-user-dialog{{#if id}}-{{id}}{{/if}}" class="edit-user-dialog">
    <form>
        <header>
            <span class="title">Update user</span>
            <div class="header-options">
                <span class="js-dialog-close btn icon icon-large icon-inverse icon-close" on-click="closeEditor"></span>
            </div>
        </header>
        <section>
            <fieldset>
                <input type="hidden" name="id" value="{{unbind(id)}}">
                <label for="username">Name</label>
                <input type="text" name="username" value="{{unbind(username)}}" placeholder="Username" required/>

                <label for="permissions">Permissions</label>
                <select multiple name="permissions" placeholder="Select permissions">
                {{#permissions}}
                    <option value="{{id}}">{{record}} - {{action}}</option>
                {{/permissions}}
                </select>
            </fieldset>
        </section>
        <footer>
            <button class="button" on-click="saveUser">Store</button>
            <button class="button button-outline js-dialog-close">Cancel</button>
        </footer>
    </form>
</dialog>
