<div class="list users">
    <settings-nodes nodes={{nodes}} />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Username</th>
                <th>Permissions</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            <settings-entry />
            <settings-editor />
            {{else}}
            <tr>
                <td class='no-users' colspan='2'>There are no users yet...</td>
            </tr>
            {{/users}}
        </tbody>
    </table>
</div>
