<nav class="navigation">
    <section class="container" id="header">
        <a class="navigation-title">
            <img class="logo" src="/public/img/logo.png">
        </a>

        <ul class="navigation-list float-right">
            <a href="#crowd" class="navigation-item current-node{{#if hashActive(locationHash)}} active{{/if}}">
                <i class="icon icon-code-fork icon-small icon-inverse"></i>
                <span>{{ currentNode.id.sid() }}{{#if currentNode.id === peer.id}}(You){{/if}}</span>
            </a>
            {{#each pages}}
            {{#if name === 'Settings'}}
                {{#if perm_user_read }}
                <a href="{{path}}" class="navigation-item{{#if active }} active{{/if}}">
                    <i class="icon icon-{{icon}} icon-small icon-inverse"></i>
                    <span>{{name}}</span>
                </a>
                {{/if}}
            {{else}}
            <a href="{{path}}" class="navigation-item{{#if active }} active{{/if}}">
                <i class="icon icon-{{icon}} icon-small icon-inverse"></i>
                <span>{{name}}</span>
            </a>
            {{/if}}
            {{/each}}
        </ul>
    </section>
</nav>
