<nav class="navigation">
    <section class="container" id="header">
        <a class="navigation-title">
            <img class="logo" src="/public/img/logo.png">
        </a>

        <ul class="navigation-list float-right">
            <li class="navigation-item current-node">
                <a href="#crowd" class="navigation-link">
                    <i class="icon icon-code-fork icon-small"></i>
                    {{ currentNode.id.sid() }}{{#if currentNode.id === peer.id}}(You){{/if}}
                </a>
            </li>
            {{#each pages}}
            {{#if name === 'Users'}}
                {{#if perm_user_read }}
                <li class="navigation-item">
                    <a class="navigation-link{{#if active }} active{{/if}}" on-click="page_change" href="{{path}}">{{name}}</a>
                </li>
                {{/if}}
            {{else}}
            <li class="navigation-item">
                <a class="navigation-link{{#if active }} active{{/if}}" on-click="page_change" href="{{path}}">{{name}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </section>
</nav>
