<nav class="navigation">
    <section class="container" id="header">
        <a class="navigation-title" href="https://milligram.github.io/">
            <img class="logo" src="/public/img/logo.png" height="40">
            <h1 class="title">Garage11</h1>
        </a>

        <ul class="navigation-list float-right">
            <li class="navigation-item current-node">
                <i class="icon icon-nodes icon-small"></i>
                <span class="navigation-link">{{ currentNode.id.sid() }}{{#if currentNode.id === peer.id}}(You){{/if}}</span>
            </li>
            {{#each pages}}
            {{#if name === 'Users'}}
                {{#if perm_user_read }}
                <li class="navigation-item">
                    <a class="navigation-link{{#if active }} active{{/if}}" on-click="page_change" href="{{path}}">{{name}}</a>
                </li>
                {{/if}}
            {{else}}
            <li class="navigation-item">
                <a class="navigation-link{{#if active }} active{{/if}}" on-click="page_change" href="{{path}}">{{name}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </section>
</nav>
