<html>
    <head>
        <link rel="icon" type="image/png"  href="/public/img/favicon.png">
        <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
        <script>
            window.__runtime_config__ = {{{settings}}}
        </script>
        <script type="application/javascript" src="/public/js/libs.js"></script>
        <script src="/public/js/js-data.min.js"></script>
        <script src="/public/js/js-data-localstorage.min.js"></script>
        <script src="/public/js/js-data-rtc.min.js"></script>
        <script src="/public/js/ractive.min.js"></script>
        <script type="application/javascript" src="/public/js/templates.js"></script>
        <script type="application/javascript" src="/public/js/components.js"></script>
        <script type="application/javascript" src="/public/js/apps.js"></script>
        <script type="application/javascript" defer src="/public/js/garage11.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    </head>
    <body>
        <main class="wrapper"><vdom-main/></main>
    </body>
</html>
